.carouselImageText {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 60vh;

  @include max-md {
    flex-flow: column;
  }

  &--right {
    .carouselImageText__contentHolder {
      padding-left: 100px;
      order: 1;

      @include max-md {
        padding-left: 2rem;
        padding-top: 5px;
        order: 2;
        background-position: center center;
      }
    }

    .carouselImageText__imgHolder {
      order: 2;
      background-position: left center;

      @include max-md {
        background-position: center center;
        order: 1;
      }
    }
  }

  &--left {
    .carouselImageText__contentHolder {
      order: 2;
      padding-right: 80px;
      background-position: left center;

      @include max-md {
        padding-top: 5px;
        padding-right: 2rem;
        background-position: center center;
      }
    }

    .carouselImageText__imgHolder {
      order: 1;
    }
  }

  &__imgHolder {
    width: 50%;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;

    @include max-md {
      min-height: 230px;
      width: 100%;
      height: 30vh;
      background-position: center center;
    }
  }

  &__contentHolder {
    width: 50%;
    display: flex;
    padding: 3.5rem 4.5rem;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;

    @include max-md {
      flex: 1;
      width: 100%;
      padding: 2rem 2rem 4rem 2rem;
    }

    &__image {
      margin-bottom: 1rem;

      @include md {
        margin-bottom: 2rem;
      }

      .mediaRatio,
      .lazyload-placeholder {
        height: auto;
        overflow: hidden;
        position: relative;
        padding-top: 0 !important;

        @media (max-width: 820px) {
          height: auto;
          width: 40%;
        }

        @media (max-width: 500px) {
          width: 100%;
          height: auto;
        }

        > .inner {
          position: relative;
          top: auto;
          left: auto;
          width: 100%;
          height: auto;
          object-fit: cover;
          transform: translate(0%, 0%);
        }
      }

      img {
        display: block;
        max-width: 80px;
      }

      &--center {
        .mediaRatio,
        .lazyload-placeholder {
          margin: 0 auto;

          > .inner {
            margin: 0 auto;
          }
        }
      }
    }

    &__btnHolder {
      padding: 1.3vw;
      &--center {
        margin: 0 auto;
      }
      max-width: 360px;

      .btn {
        width: 100%;
        font-size: calc(0.8vw + 0.8rem);
        white-space: nowrap;
        margin: 0 auto;

        .arrow {
          display: none;
        }
      }
    }

    &__text {
      &--center {
        h2,
        h4,
        p {
          text-align: center;
        }
      }
      h2 {
        position: relative;
        font-size: calc(1.2vw + 1.2rem);
        padding: 2vw;
        line-height: 1.15;
      }

      h4 {
        color: $lightBlue;
        font-size: calc(0.8vw + 0.8rem);
        padding: 1.5vw;
        line-height: 1.15;
      }

      p {
        color: $lightBlue;
        line-height: 2vw;
        font-size: calc(0.6vw + 1rem);
        @include max-md {
          line-height: 2.7rem;
        }
        padding-bottom: 1.2vw;
      }
    }
  }
}
