@import './components/RecipeReservationOutpost/style.scss';

.recipe-thankyou-page {
  text-align: center;

  .gray-part {
    @include bg-gradient;
    padding-top: 4em;
    padding-bottom: 4em;

    .done {
      margin-top: 3em;
    }
  }

  .gray-part.pdt80 {
    padding-top: 200px;
  }

  .white-part {
    display: block;
    padding-top: 4em;
    padding-bottom: 4em;

    .text {
      margin-bottom: 1em;
    }
  }

  .text {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.8em;
    margin-bottom: 3em;

    .text:last-child {
      margin-bottom: 0;
    }
  }

  .text-turquoise {
    color: #0EABB1;
  }
}
