.mini-boxes {
  margin-bottom: 5rem;
  
  @include max-md {
    margin-bottom: 2.5rem;
  }

  h3 { 
    @include webkitGradientText();
  }

  &__divider {
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 5rem;
    background-color: #7fd4e7;
    
    @include max-md {
      margin-top: 2.5rem;
    }
  }

  &__list {
    justify-content: flex-start;

    .col-12, .col-sm-6, .col-md-4, .col-xl-3 {
      margin-bottom: 2rem;
    }

    &__item {
      display: table;
      width: 100%;
      height: 226px;
      overflow: hidden;
      position: relative;
      background-size: cover;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

      &:hover {
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
      }
      

      p {
        top: 0;
        z-index: 2;
        height: 100%;
        color: white;
        font-weight: 500;
        font-size: 1.8rem;
        position: relative;
        line-height: initial;
        text-transform: uppercase;
        display: table-cell;
        vertical-align: bottom;
        padding: 0 0 3rem 1.5rem;
      }

      &--colorGradient {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
  }
}