.hero {
  @extend .flexColumn;
  width: 100%;
  height: 395px;
  position: relative;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  @include background-image(cover, center);
  @include md { height: 650px; }

  &__blackOverlay {
    background: black;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.35;
    z-index: 2;
    width: 100%;
    height: 100%;
  }

  &__whiteOverlay {
    background: white;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.35;
    z-index: 2;
    width: 100%;
    height: 100%;
  }

  .container {
    z-index: 3;
    position: relative;
  }

  &__holder {
    display: table;
    height: 100%;

    h1 {
      @include max-sm { padding-bottom: 2rem; }
    }

    .container {
      display: table-cell;
      vertical-align: middle;
      @include max-sm { padding-top: 6rem; }
    }
  }

  &__title {
    &--blue { @include webkitGradientText; }
    &--white { color: #fff; }
  }

  &__text {
    font-family: $mons;
    font-size: 1.8rem;
    line-height: 2.8rem;
    
    @include md {
      font-size: 2.4rem;
      line-height: 3.4rem;
      padding: 0 3rem;
    }

    p { text-align: center; }
    &--gray { color: $darkGray; }
    &--white { color: #fff; }
  }
}