.text-block-with-image {

  h3 {
    @include webkitGradientText();
    padding: 55px;
  }

  .mediaRatio { margin-bottom: 50px; }

  p {
    max-width: 820px;
    text-align: center;
    font-size: 1.8rem;
    line-height: 36px;
  }
}