.reviews {
  padding-bottom: 20px;
  color: $darkGray;

  h3 { 
    @include webkitGradientText;
    padding-top: 45px;
  }

  &__divider {
    width: 100%;
    height: 2px;
    background-color: #9ed5a4;
    margin-top: 30px;
  }

  &__list {
    justify-items: center;
    justify-content: center;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);

    &__element {
      width: 100%;
      display: grid;
      background-color: #f4f5f7;
      background-repeat: no-repeat;
      grid-template-columns: 110px 1fr;
      align-items: center;

      .mediaRatio {
        padding-top: 0 !important;
        width: 105px;
        height: 130px;
        align-self: center;
      }

      &__content {
        display: grid;
        padding: 15px;

        cite {
          line-height: initial;
        }
        .stars {
          padding-top: 5px;
          max-height: 40px;
          overflow: hidden;

          svg {
            width: 13px;
            height: 13px;
            margin-right: 6px;

            @include md {
              width: 20px;
              height: 20px;
              margin-right: 9px;
            } 

            &:nth-of-type(1) {
              fill: #36a242;
            }
            &:nth-of-type(2) {
              fill: #2ba25b;
            }
            &:nth-of-type(3) {
              fill: #1da182;
            }
            &:nth-of-type(4) {
              fill: #0fa1a9;
            }
            &:nth-of-type(5) {
              fill: #02a0c5;
            }
          }
        }
      }
    }
  }

  @include max-xl { font-size: 1.4rem; }
  @include max-lg {
    font-size: 1.6rem;

    &__list {
      grid-template-columns: 1fr;

      &__element {
        &__content {
          cite {
            max-width: none;
            align-self: center;
          }
        }
      }
    }
  }
  @include max-xs { font-size: 1.4rem; }
}
