.club-benefits {
  padding-top: 6rem;
  @include max-lg { padding-top: 3rem; }
  
  &__btn-holder {
    max-width: 35%;
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
    
    @include max-lg { max-width: 45%; }
    @include max-md { max-width: 60%; }
    @include max-sm { max-width: 85%; }
    @include max-xs { max-width: 100%; }
  }
  
  &__list {
    
    &__item {
      text-align: center;
      align-self: center;
      position: relative;
      
      @include max-lg {
        padding: 2rem 0;
      }
      @include max-md {
        padding: 1rem 0;
        &:last-of-type {
          padding-bottom: 0;
        }
        &:first-of-type {
          padding-top: 0;
        }
      }
      
      &:not(:last-of-type) {
        &:after {
          position: absolute;
          display: block;
          content: '';
          height: 100%;
          width: 2px;
          right: 0;
          top: 0;
          background-color: #ededed;
          @include max-xl { display: none; }
        }
      }

      p {
        font-size: 1.7rem;
        line-height: 2.8rem;
      }
    }
  }

  &__conditions {
    display: block;
    text-align: center;
    letter-spacing: 2.5px;
    font-size: 1.6rem;
    color: $green;
    text-decoration: underline;
    margin: 35px 0;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
      color: $green;
      text-decoration: none;
    }
  }
}