.club-benefits {
  margin-top: 60px;
  
  &__btn-holder {
    max-width: 35%;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    
    @include max-lg { max-width: 45%; }
    @include max-md { max-width: 55%; }
    @include max-sm { max-width: 85%; }
    @include max-xs { max-width: 100%; }
  }
  
  &__list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;

    @include max-md {
      grid-template-columns: repeat(2, 1fr);
    }
    @include max-sm { 
      grid-template-columns: 1fr;
      grid-gap: 30px;
    }

    &__item {
      min-height: 75px;
      max-width: 250px;
      text-align: center;
      position: relative;

      @include max-md { max-width: 270px; }
      
      &:not(:last-of-type) {
        &:after {
          position: absolute;
          right: -30px;
          top: 0;
          content: '';
          display: block;
          height: 100%;
          width: 2px;
          background-color: #ededed;

          @media (max-width: 1320px) { right: -20px; }
          @media (max-width: 1120px) { right: -10px; }
          @include max-md { display: none; }
        }
      }

      &:nth-child(2n+1) {
        @include max-md {
          &:after {
            position: absolute;
            right: -45px;
            top: 0;
            content: '';
            display: block;
            height: 100%;
            width: 2px;
            background-color: #ededed;

            @media (max-width: 740px) { right: -40px; }
            @media (max-width: 700px) { right: -25px; }
            @media (max-width: 630px) { right: -15px; }
            @include max-sm { display: none; }
          }
        }
      }

      p {
        font-size: 1.7rem;
        line-height: 28px;
      }
    }
  }

  .btn {
    margin-top: 50px;
  }

  &__conditions {
    display: block;
    text-align: center;
    letter-spacing: 2.5px;
    font-size: 1.6rem;
    color: $green;
    text-decoration: underline;
    margin: 35px 0;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
      color: $green;
      text-decoration: none;
    }
  }
}