$recipe-page-gradient-bg-1: #DDE4EC;
$recipe-page-gradient-bg-2: #dde4ec;

@mixin bg-gradient() {
  background: $recipe-page-gradient-bg-1;
  background: linear-gradient(90deg, $recipe-page-gradient-bg-1 0%,
    $recipe-page-gradient-bg-2 50%, $recipe-page-gradient-bg-1 100%);
}

@import "./components/RecipeSectionHeader/style";
@import "./components/RecipePickupPick/style";
@import "./components/RecipeOwnerInfo/style";
@import "./components/RecipeReservationSubmit/style";

.recipe-reservation-page {
  padding-top: 115px;
  .text {
    display: block;
    margin: 0 auto;
    &-center {
      text-align: center;
    }
    &-cursive {
      font-style: italic;
    }
  }
}

@media screen and (min-width: 767px) {
  .recipe-reservation-page {
    padding-top: 136px;
  }
}

// Submit part
.submit-wrapper {
  padding-top: 0;
  padding-bottom: 90px;

  .btn {
    display: block;
    margin: 0 auto;
  }
}

