.payment-methods {
  padding: 5rem 0 3rem 0;
  
  @include max-md {
    padding-bottom: 2rem;
  }
  
  h3 {
    @include webkitGradientText();
    padding-top: 5px;
  }
  
  &__list {
    justify-content: space-around;

    &__item {
      padding: 1rem 0;
      
      .mediaRatio {
        padding: 0 !important;
        width: 90px;
        height: 55px;
      }
    }
  }
}