.payment-methods {
  padding: 55px 0;
  
  h3 {
    @include webkitGradientText();
    padding-top: 5px;
  }
  
  &__list {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    grid-gap: 40px 20px;

    &__item {
      .mediaRatio {
        padding: 0 !important;
        width: 90px;
        height: 55px;
      }
    }
  }
}