
.recipe-pickup-place {
  padding-top: 60px;
  padding-bottom: 20px;
  .subheadline {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto 45px;
    font-size: 18px;
    font-weight: 400;
    line-height: inherit;
    letter-spacing: 0.75px;
    text-transform: uppercase;
  }

  .pickup-point {
    margin-bottom: 60px;

    &_wrap {
      display: flex;
      justify-content: center;
    }

    > img {
      margin-bottom: 14px;
    }

    max-width: 300px;

    .address {
      padding-left: 44px;
      margin-top: 7px;
      margin-bottom: 0;
      line-height: 1em;

      &-bold {
        font-weight: 700;
      }
    }

    .recipe-btn {
      margin: 20px 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .recipe-pickup-place {
    .pickup-point {
      display: block;
      width: 100%;
      padding: 5px;
      margin-bottom: 20px;

      > img {
        max-width: 80%;
        margin-bottom: 0;
      }

      .address {
        padding-left: .5em;
        font-size: 14px;
      }

      .recipe-btn {
        display: block;
        padding: .5em 3em .5em 1em;
        margin-top: .5em;
        font-size: 14px;
        text-align: left;
        line-height: 1.4em;
        min-height: 59px;
      }
    }
  }
}
