.carousel {
  line-height: 1.15;
  .slick-track {
    display: flex;
  }

  .slick-slide {
    display: flex;
    height: unset;
    float: unset;

    > div {
      width: 100%;
    }
  }

  &--prevArrow {
    left: 1.5rem;

    @include max-md {
      left: 2.5rem !important;
      width: 16px !important;
      height: 9px !important;

      .prevArrow--top,
      .prevArrow--bottom {
        height: 3px !important;
      }
    }
  }
  &--nextArrow {
    right: 1.8rem;

    @include max-md {
      right: 2.8rem !important;
      width: 16px !important;
      height: 9px !important;

      .nextArrow--top,
      .nextArrow--bottom {
        height: 3px !important;
      }
    }
  }

  .slick-prev {
    @media screen and (max-width: 600px) {
      left: -10px;
    }
  }

  .slick-next {
    @media screen and (max-width: 600px) {
      right: -10px;
    }
  }
  
  .slick-dots {
    display:none;
    bottom: 2.5rem;

    li {
      width: 6rem;
      height: 4px;
      background-color: #BFBFBF;

      button {
        width: 100%;
        height: 100%;

        &::before {
          display: none;
        }
      }
      &::before {
        display: none;
      }
    }

    .slick-active {
      background-color: $green;
    }
  }
}
