.info-boxes {
  &--paddingBottom {
    padding-bottom: 5rem;

    @include max-md {
      padding-bottom: 2.5rem;
    }
  }

  h3 {
    @include webkitGradientText();
  }

  h5 {
    color: $darkGray;
    text-align: left;
    line-height: 1.35;
    padding: 0 0 2.5rem 0;
    position: relative;
    font-weight: 600;

    &::before {
      position: absolute;
      content: '';
      height: 3px;
      width: 75px;
      top: -30px;
      background: #3cac4b; /* Old browsers */
      background: -moz-linear-gradient(left, #3cac4b 0%, #7db9e8 100%, #01aace 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #3cac4b 0%,#7db9e8 100%,#01aace 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #3cac4b 0%,#7db9e8 100%,#01aace 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3cac4b', endColorstr='#01aace',GradientType=1 ); /* IE6-9 */
    }
  }

  &__divider {
    width: 100%;
    height: 2px;
    background-color: #7fd4e7;
  }

  &__list {
    justify-content: space-between;

    &__element {
      width: 100%;
      height: 100%;
      display: table;
      max-width: 370px;
      min-height: 400px;
      position: relative;
      background-size: cover;
      box-shadow: 0 0 25px rgba(0, 52, 97, 0.18);
      -webkit-box-shadow: 0 0 25px rgba(0, 52, 97, 0.18);

      @media (max-width: 1199px) {
        max-width: 470px;

        &:last-of-type {
          margin-top: 2rem;
        }
      }

      @media (max-width: 991px) {
        max-width: 350px;
      }

      @include max-md {
        max-width: 100%;

        &:last-of-type {
          margin-top: 0;
        }
        &:not(:last-of-type) {
          margin-bottom: 2rem;
        }
      }

      @include max-sm {
        max-width: 92%;
        margin: 0 auto;
      }

      &__content {
        width: 90%;
        display: table-cell;
        padding: 0 0 2.5rem 2.5rem;
        vertical-align: bottom;
        position: relative;
        z-index: 300;
      }

      &--colorGradient {
        position: absolute;
        z-index: 200;
        width: 100%;
        height: 100%;
        left: 0;
      }
    }
  }

  @include max-lg {
    &__list {
      &__element {
        min-height: 300px;
      }
    }
  } 
  
  @media (max-width: 900px) {
    h5 { 
      font-size: 1.8rem;
      padding-bottom: 2rem;
    }
    button {
      width: 100%;
      font-size: 1.4rem;
      padding: 7px 35px;
    }

    &__list {
      &__element {
        &__content { padding: 2rem; }
      }
    }
  }

  @include max-md {
    h3 { padding-top: 3rem; }

    &__list {

      &__element {
        height: 100%;
        min-height: 280px;
        background-size: cover;
        
        &__content { padding-left: 2.5rem; }
      }  
    }
  }
}