.prom-and-disc {
  padding: 5rem 0;
  @include max-md {
    padding: 2.5rem 0;
  }

  h3 { 
    @include webkitGradientText();
    padding-top: 0;
  }

  .mediaRatio {
    img { padding: 0 1rem; }
  }

  .slick-arrow {
    &::before {
      color: black !important;
    }
  }
}