.prom-and-disc {
  padding: 55px 0;

  h3 { 
    @include webkitGradientText();
    padding-top: 0;
  }

  ul { 
    @include reset-list();
    
    li {
      padding: 0;
      margin: 0;
    }
  }

  img {
    max-width: 400px;
    max-height: 400px;
    width: initial;
  }

  .alice-carousel {
    max-height: 400px;
    overflow: hidden;

    &__prev-btn {
      position: absolute;
      text-align: left;
      left: 0;
      top: 33%;
      padding: 0;
  
      span {
        &::after {
          position: relative;
          content: '🡰';
          display: block;
          width: 50px;
          height: 100px;
          border-radius: 0 100% 100% 0 / 0 50% 50% 0;
          color: $green;
          font-weight: 700;
          font-size: 2rem;
          text-align: center;
          line-height: 100px;
          background-color: rgba(231, 238, 239, 0.8);
        }
      }
    }

    &__next-btn {
      position: absolute;
      text-align: right;
      right: 0;
      top: 33%;
      padding: 0;
  
      span {
        &::after {
          position: relative;
          content: '🡲';
          display: block;
          width: 50px;
          height: 100px;
          border-radius: 100% 0 0 100% / 50% 0 0 50%;
          color: $green;
          font-weight: 700;
          font-size: 2rem;
          text-align: center;
          line-height: 100px;
          background-color: rgba(231, 238, 239, 0.8);
        }
      }
    }
  }
}