.menu-blocks {
  grid-template-columns: repeat(4, minmax(295px, 1fr));
  grid-template-rows: repeat(2, 225px);
  margin-bottom: 55px;

  &__item {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #f4f5f7;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.2);
    padding-left: 35px;
    padding-top: 30px;

    &:nth-of-type(1) {
      grid-column: 1/3;
      p { font-size: 2.2rem; }
    }
    &:nth-of-type(2) {
      grid-column: 3/5;
      p { font-size: 2.2rem; }
    }

    p {
      color: white;
      font-weight: 600;
      font-size: 1.8rem;
      z-index: 3;
      position: relative;
    }

    img { 
      z-index: 3;
      position: relative;
      margin-bottom: 50px;
    }

    &__colorGradient {
      z-index: 2;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 1;
    }
  }
}