.benefit-blocks {

  h3 {
    @include webkitGradientText();
    padding-top: 0;
  }

  &__divider {
    width: 100%;
    height: 2px;
    background-color: #c5e3a8;
    margin: 50px 0;
  }

  &__list {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-template-rows: auto;

    @include max-xs {
      grid-template-columns: 1fr;
    }

    &__item {
      min-width: 340px;
      min-height: 340px;
      background-color: white;
      box-shadow: 0 0 25px rgba(0, 64, 79, 0.15);
      grid-template-columns: 1fr;
      grid-template-rows: 2fr 1fr;
      grid-gap: 0;
      position: relative;

      @include max-xs {
        min-width: 280px;
        min-height: 280px;
      }

      &:before {
        content: '';
        display: block;
        top: 0;
        height: 10px;
        width: 100%;
        position: absolute;
        background-image: linear-gradient(to right, #3eac49 0%, #00aad0 100%);
      }

      &__top {
        position: relative;
        border-bottom: 1px solid #dcdde0;
        padding: 40px 25px 25px 25px;

        .mediaRatio {
          position: absolute;
          z-index: 1;
          padding: 0 !important;
          
          &:nth-child(1) {
            top: 20px;
            right: 20px;
            width: 50px;
            height: 50px;
          }
        }
        .mediaRatio:last-child {
          right: 20px;
          bottom: 20px;
          width: 155px;
          height: 35px;
        }

        h5 {
          font-size: 2.2rem;
          color: black;
          text-transform: initial;
          text-align: left;
          padding: 0;
          z-index: 2;
          max-width: 85%;
        }

        &__subtitle {
          z-index: 2;
          position: relative;
          max-width: 85%;
          margin-bottom: 25px;
        }

        &__text {
          margin-bottom: 40px;

          p {
            z-index: 2;
            position: relative;
            font-size: 1.4rem;
            line-height: 24px;
          }
        }

        &__gradient-text {
          p {
            font-size: 1.2rem;
            z-index: 2;
            max-width: 50%;
            line-height: initial;
            position: relative;
            @include webkitGradientText();
          }
        }
      }

      &__bottom {
        padding: 25px;
        align-items: center;

        p {
          text-align: center;
          font-size: 1.7rem;
        }
      }
    }
  }
}